<br><br><br><br><br>
<h3 id="usershow">Great to see you here!<br>
I am "<%= @user.username %>"

<% if @user.cats.present? %>
  <p>My best friends:</p>

    <% @user.cats.each do |cat| %>
      <li>
        <strong><%= link_to cat.name, cat_path(cat)  %></strong>
      </li>
    <% end %>
  <% end %>
  <div id="maptitle">Hit me up when you're in the area. We can have some kitty playdate.</div>
</h3>

  <style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

  #map {
    padding-top: 10px;
    height: 50%;
    width: 40%;
    float: right;

  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;

    margin: 0;
    padding: 5px 5px;

  }
</style>
<script>
  function initMap() {

    var myLatLng = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: myLatLng
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
  </script>


<div id="map"></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrt_cNH4vpwzTRRLsrhIFaoFvbteLEFCM&callback=initMap">

    </script>
