/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mapbox
 */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

* {
  padding: 2px 2px;
}
 body {
   background-color: rgb(189, 192, 201);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: 'Source Serif Pro', serif;

 }

 div, li, ul, a, ol {
   text-align: center;

 }

 .header {
   border-bottom: 1px solid rgb(162, 162, 162);
   background: black;
   color: white;

 }
.main {
  flex: 1;
}
.footer {
  border-top: 1px solid rgb(162, 162, 162);
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background: black;
}

.copyright {
  float: right;
  font-weight: bold;
}

.social {
  float: left;
  list-style: none;
}

img {
  max-width: 400px;
  max-height: 300px;
  align: center;
}

h1, h2 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  text-shadow: 2px 2px grey;
  float: left;
}

h2 {
  text-align: center;
}

li {
  list-style: none;

}

#nav {
  float: left;
}


a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(221, 112, 0);
}


a:hover{
  color: rgb(4, 125, 125);

}
.usercomment {
  font-style: normal;
}

ul, ol, .hobby {
  padding-left: 0;
  padding-right: 0;
}

.hobby {
  border: 1px solid grey;
  width: 250px;
  margin: 0 auto;
}

.indexcolumn {
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 1%;
    padding-right: 4%;
    padding-top: 7%;
}

.resultcolumn {
    float: left;
    width: 60%;
    padding-right: 1%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  width: 1480px;
}

.kittyresult {
  border: 2px solid rgb(87, 87, 87);
  overflow: hidden;
  padding: 5px;
  box-shadow: 5px 6px grey;
}


.kittyimage {
  float: left;
  overflow: hidden;
  padding: 4px;
}


.kittytext {
  overflow: hidden;
  text-align: left;
  padding-left: 10px;
  padding: 4px;
  margin-right: 0;
}

.kittyavatar {
  max-width: 90px;
  padding: 4px;
  border-radius: 50%;
}

.kittyfact {
  padding: 5px;


}

#search {
  width: 550px;
  position: relative;
  left: 29.9vw;
}
#button {
  position: relative;
  left: 30vw;
  color: red;
}


#logo {
  float: right;
  margin: 0 auto;

  background: red;
  background: -webkit-linear-gradient(left, orange , red, yellow, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, red, yellow, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange,  red, yellow, cyan, blue, violet);
  background: linear-gradient(to right, orange , red, yellow, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5vw;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  0% {
      opacity: 0;
  }
  25% {
    opacity: 0.3
  }
  50% {
      opacity: 1;
  }
  75% {
    opacity: 0.8
  }
  100% {
      opacity: 1;
  }
}

 #usershow {
  float: left;
  padding-left: 80px;
}


#maptitle {
  align: center;
}
