

<div class="row">

  <div class="indexcolumn">
      <div class="kittyfact">
        <strong>Random Kitty Fact:</strong><br>
      <%= @fact %>
      </div>
  </div>

  <div class="resultcolumn">
    <h2>All Kitties</h2>
    <% @cats.each do |cat| %>
      <div class="kittyresult">
        <div class="kittyimage">
          <%= image_tag cat.image, :class => "kittyavatar" %>
        </div>
        <div class="kittytext">
          Name: <%= link_to cat.name, cat_path(cat) %> <br>
          Bio: <%= cat.bio %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
