<h3>Results</h3>
<ul>
  <% @kittyresults.each do |kitty| %>
    <li>
      Kitty's Name:
      <%= link_to kitty.name, cat_path( kitty ) %>
    </li>
    <br>
    <%= image_tag kitty.image %>

    <br>
    <%= kitty.bio %>
    <br>
  <% end %>
</ul>
